<!-- <div style="width: 500px;height: 200px;">
    <div style="float: left; width: 200px;">
            <img src="../abc.jpg"/>
                <h4>24/7 Customer Support</h4>
                <p>
                    A dedicated 24x7 customer<br>
                    support team always at your<br>
                    service to help solve any problem
                </p>
        </div>
        <div style="float: left; width: 200px;">
            <img src="../abc.jpg" />
                <h4 >Your Safety First</h4>
                <p >
                    Keep your loved ones informed<br>
                    about your travel routes or call<br>
                    emergency services when in need
                </p>
        </div>
        <div style="float: right; width: 100px;">
            <img src="../abc.jpg" />
                <h4 >Top Rated Driver-Partners</h4>
                <p >
                    All our driver-partners are<br>
                    background verified and trained to<br>
                    deliver only the best experience
                </p>
            </div>
            <br style="clear: left;" /> -->
        <!-- </div> -->
<div style="max-height: 100px;"> 
    <div id = "leftbox"> 
        <h4>24/7 Customer Support</h4>
        <p>A dedicated 24x7 customer
            support team always at your
            service to help solve any problem</p>
    </div>  
        
    <div id = "middlebox"> 
        <h4>Your Safety First</h4>
        <p>
            Keep your loved ones informed
            about your travel routes or call
            emergency services when in need 
        </p>
    </div> 
        
    <div id = "rightbox"> 
        <h4>Top Rated Driver-Partners</h4>
        <p>
            All our driver-partners are
            background verified and trained to
            deliver only the best experience 
        </p>
    </div> 
</div> 
